html {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigator {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.phone {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wrapper {
  margin: 0px 200px;
}

.header {
  position: fixed;
  width: 100%;
  height: 84px;
}

.iconPhone {
  width: 24px;
  height: 24px;
}